.sidebar {
    position: fixed;
    overflow: scroll;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    background-color: color-get(white);
    box-shadow: 0 0 10px rgba(0, 0, 0, .26);
    display: none;

    .content {
        padding: rem-calc(25);
    }

    &.is-open {
        display: block;
    }

    section.title {
        margin-top: 0;

        h1 {
            font-size: rem-calc(20) !important;
        }
    }

    .sidebar-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: rem-calc(15) rem-calc(15) 0;
        border-top: 1px solid #eee;
    }
}