.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 0;
    padding: 5px 0;
    background-color: color-get(black);

    #logo {
        a {
            padding: 3px 25px;
            height: 35px;
            overflow: hidden;

            > div {
                transition: margin 0.2s ease-in-out;
            }

            &:hover > div {
                margin-top: -44px;
            }
        }

        h1 {
            color: color-get(white);
            font-size: rem-calc(14);
            font-weight: bold;
        }

        i { margin-right: rem-calc(10); }
    }

}