.button {

    margin-bottom: $global-margin;
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
    border-radius: 3px;

    @include modifier(success) {
        color: color-get(green);
        border-color: color-get(green);
    }

}