.button {

    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
    border-radius: $global-radius;
    border-color: color-get(gray, medium);
    background-color: color-get(white);
    font-weight: bold;
    transition: all .1s ease;

    &:hover {
        background-color: color-get(gray, light);
        transform: translateY(-1px);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }

    &:active {
        transform: translateY(1px);
    }

    &[disabled],
    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    @include modifier(selected) {
        background-color: color-get(blue);
        border-color: color-get(blue);
        color: color-get(white);

        &:hover {
            background-color: lighten(color-get(blue), 3%);
        }
    }

    @include modifier(success) {
        background-color: color-get(green);
        border-color: color-get(green);
        color: color-get(white);

        &:hover {
            background-color: lighten(color-get(green), 3%);
        }
    }

    @include modifier(error) {
        background-color: color-get(red);
        border-color: color-get(red);
        color: color-get(white);

        &:hover {
            background-color: lighten(color-get(red), 3%);
        }
    }

    @include modifier(warning) {
        background-color: color-get(yellow);
        border-color: color-get(yellow);
        color: darken(color-get(yellow), 35%);

        &:hover {
            background-color: lighten(color-get(yellow), 3%);
        }
    }

    @include modifier(small) {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include modifier(icon-left) {
        i.fa { margin-right: rem-calc(10); }
    }

    @include modifier(icon-right) {
        i.fa { margin-left: rem-calc(10); }
    }
}
