.dropdown {

    ul {
        position: absolute;
        display: none;
        min-width: 250px;
        margin-left: - rem-calc(15);
        top: 100%;
        left: 0;
        background-color: color-get(white);
        border: 1px solid #cacaca;
        border-radius: 3px;
        z-index: 1;

        li {
            display: block;
        }

        a {
            border: none;
            margin: 0;
            padding-left: rem-calc(15);
            padding-right: rem-calc(15);
            color: color-get(black);

            &:hover {
                background: #f7f7f7;
            }
        }
    }

    li {
        position: relative;

        &:hover > ul {
            display: block;
        }
    }

    a {
        display: block;

        &.dropdown-toggle:hover {
            border-color: transparent;
        }

        &.dropdown-toggle::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.3em;
            vertical-align: middle;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-left: 0.3em solid transparent;
        }
    }
}