.dropdown-menu {
    display: inline-block;
    position: relative;

    @include element(button) {
        position: relative;
        padding: rem-calc(10 25 10 15);
        cursor: pointer;
    }
    @include element(toggle) {
        font-family: FontAwesome;
        content: '\f0d7';
        position: absolute;
        right: rem-calc(10);
        opacity: 0.5;
    }

    @include element(content) {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 1;
        min-width: rem-calc(250);
        background-color: color-get(white);
        border: 1px solid color-get(gray, medium);
        border-radius: $global-radius;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

        li.divider {
            border-top: 1px solid color-get(gray, light);
        }

        li a {
            display: block;
            padding: rem-calc(5 15);
            color: color-get(black);

            &:hover {
                background-color: color-get(gray, light);
            }
        }
    }

    &:hover {
        .dropdown-menu__content {
            display: block;
        }

        .dropdown-menu__button::before {
            opacity: 1;
        }
    }

}