@mixin header_submenu() {
    
    .header__dropdown__menu {
        
        .header__dropdown__menu {
            top:0;
            left: 50%;
        }
        
        .header__dropdown__toggle {
            
            > .caret {
                border-right: 0;
                border-left: 4px dashed;
                border-left: 4px solid\9;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
            }
            
        }
        
    }
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: color-get(black);

    @include element(item) {
        @include modifier(right) {
            .header__nav > li {
                text-align: right;
            }

            .header__dropdown__menu {
                right: 0;
                left: auto;
            }
        }
    }

    @include element(nav) {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            float: left;
            position: relative;
            display: block;
        }

        & > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
            color: color-get(white);
        }
    }

    @include element(dropdown) {
        position: relative;
        
        &:hover > ul {
            display: block;
        }

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid\9;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
        
        @include element(menu) {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            margin: 0;
            padding: 0;
            text-align: left;
            list-style: none;
            min-width: rem-calc(250);
            background-color: color-get(white);
            border: 1px solid color-get(gray, medium);
            border-radius: $global-radius;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

            li.divider {
                border-top: 1px solid color-get(gray, light);
            }

            li a {
                display: block;
                padding: rem-calc(5 15);
                color: color-get(black);

                &:hover {
                    background-color: color-get(gray, light);
                }
            }
            
        }
        
        @include header_submenu();
    }
}