.floating-action-bar {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);
    padding: rem-calc(15 0);
    width: 100%;
    text-align: right;
}

label {
    display: block;
    cursor: pointer;
    line-height: 1.8;
    margin-top: $global-margin;
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
    font-weight: bold;
}

input[type=checkbox] {
    appearance: none;
    margin-right: rem-calc(5);
    border: 1px solid color-get(gray, medium);
    width: 14px;
    height: 14px;
    border-radius: $global-radius;
    vertical-align: middle;
    cursor: pointer;
    background-color: color-get(white);

    &:checked {
        position: relative;
        border-color: color-get(black);
    }

    &:checked::before {
        position: absolute;
        top: 0;
        line-height: 13px;
        font-family: FontAwesome;
        content: '\f00c';
        color: color-get(black);
    }
}

input[type=text],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=password],
input[type=search] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: $global-margin;
    padding: $global-padding / 3 $global-padding / 2;
    line-height: 1.8;
    border: 1px solid color-get(gray, medium);
    border-radius: $global-radius;
}

select {
    width: 100%;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    input[type=text] {
        display: table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.input-group__addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: color-get(black);
    text-align: center;
    background-color: color-get(gray, light);
    border: 1px solid color-get(gray, medium);
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    border-right: none;
    border-radius: $global-radius 0 0 $global-radius;
}