label {
    display: block;
    cursor: pointer;
    line-height: 1.8;
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
}

input[type=text],
input[type=email],
input[type=password] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: $global-margin;
    padding: $global-padding / 3 $global-padding / 2;
    line-height: 1.8;
    border: 1px solid color-get(gray, light);
    border-radius: 3px;
}