dl {
    font-size: 0;

    dt,
    dd {
        display: inline-block;
        margin: 0;
        border-bottom: 1px solid color-get(gray, light);
        padding: 10px 0;
        font-size: rem-calc(14);
    }

    dt {
        font-weight: bold;
        width: 30%;
    }

    dd {
        width: 70%;
    }

}

ul.color-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    .color-list__item  {
        display: inline-block;
        padding-right: rem-calc(15);
    }

    .color-list__color {
        border-radius: $global-radius;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2O8ffv2fwY0oKqqyoguxjgUFKI7GsTH5m4M3w1ChQBLoyXbEjDuswAAAABJRU5ErkJggg==');
    }
}