.list-group {
    list-style: none;
    margin: 0;
    padding: 0;

    @include element(item) {
        position: relative;
        display: block;
        margin-bottom: -1px;
        padding: rem-calc(10 15);
        background-color: color-get(white);
        border: 1px solid color-get(gray, light);

        &:hover {
            background-color: color-get(gray, light);
        }
    }
}