.panel {
    position: relative;
    border-radius: $global-radius;
    background-color: color-get(white);
    box-shadow: 0 2px 4px rgba(50,50,93,.1);

    @include element(sidebar) {
        @include element(title) {
            margin: rem-calc(5 0 10);
            font-weight: bold;
            font-size: rem-calc(16);
        }

        label {
            margin-top: 0;
            font-weight: normal;
        }

        hr {
            border: none;
            background-color: color-get(gray, light);
            height: 1px;
        }
    }

    @include modifier(success) {
        border-top: solid color-get(green);
        border-top-width: 3px !important;
    }

    @include modifier(error) {
        border-top: solid color-get(red);
        border-top-width: 3px !important;
    }

    @include modifier(warning) {
        border-top: solid color-get(orange);
        border-top-width: 3px !important;
    }

    @include element(title) {
        font-size: rem-calc(14);
        font-weight: bold;
        margin-top: 0;
    }

    @include element(footer) {
        margin-top: rem-calc(15);
        padding-top: rem-calc(10);
        border-top: 1px solid color-get(gray, light);
    }

    @include element(preview) {
        height: rem-calc(200);
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2O8ffv2fwY0oKqqyoguxjgUFKI7GsTH5m4M3w1ChQBLoyXbEjDuswAAAABJRU5ErkJggg==');

        .preview__image {
            height: rem-calc(150);
            background-size: contain;
            background-position: 50% 50%;
            border-radius: $global-radius;
            margin-bottom: rem-calc(5);
            cursor: pointer;
            background-repeat: no-repeat;
        }

        &:hover {
            background-color: color-get(gray, light);
        }
    }
}

body.variant-dark .panel {
    background-color: rgba(0,0,0,.2);
    border-color: transparent;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: color-get(white);
    }
}
