.panel {
    position: relative;
    border-radius: $global-radius;
    background-color: color-get(white);

    @include element(sidebar) {
        @include element(title) {
            margin: rem-calc(5 0 10);
            font-weight: bold;
            font-size: rem-calc(16);
        }

        label {
            margin-top: 0;
            font-weight: normal;
        }

        hr {
            border: none;
            background-color: color-get(gray, light);
            height: 1px;
        }
    }

    @include element(preview) {
        height: rem-calc(200);

        .preview__image {
            height: rem-calc(150);
            background-size: cover;
            background-position: 50% 50%;
            border-radius: $global-radius;
            margin-bottom: rem-calc(5);
            cursor: pointer;
        }

        &:hover {
            background-color: color-get(gray, light);
        }
    }
}