/*
    Extends on the primer tabs
*/
$tab-active-font-color: $tab-hover-font-color !default;
$tab-active-background-color: $tab-hover-background-color !default;

.tabs {

    .tabs__item {

        &:first-child {
            a {
                border-top-left-radius: $global-radius;
                border-bottom-left-radius: $global-radius;
            }
        }
        
        &:last-child {
            a {
                border-top-right-radius: $global-radius;
                border-bottom-right-radius: $global-radius;
            }
        }
        
        @include modifier(active) {

            a {
                color: $tab-active-font-color;
                background-color: $tab-active-background-color;
            }

        }

    }

}

.tabs {

    margin-bottom: rem-calc($global-margin);

    @include element(content) {
        padding: rem-calc($global-padding);
        border-radius: $global-radius;
        border: $panel-border;
    }

    @include element(panel) {
        display: none;

        @include modifier(active) {
            display: block;
        }

    }

}