.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: $global-margin;
    
    thead {
        background-color: color-get(black);
        color: color-get(white);
        box-shadow: 0 4px 5px rgba(0,0,0,.1);

        th {
            font-weight: normal;
            font-size: rem-calc(16);

            &.sortable {
                cursor: pointer;
            }
        }
    }

    tr td,
    tr th {
        padding: rem-calc(10);
        text-align: left;

        &[align=right] {
            text-align: right;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid color-get(gray, light);

            &.selected,
            &:hover {
                background-color: rgba(69, 138, 161, 0.08);
            }

            &.selectable--row.selected {
                background-color: rgba(69, 138, 161, 0.08);
            }
        }
    }

    a:not(.button) {
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}

span.sub-column {
    display: block;
}