.table {
    width: 100%;
    border-collapse: collapse;
    
    thead {
        background-color: color-get(black);
        color: color-get(white);

        th {
            font-weight: normal;
            font-size: rem-calc(16);
        }
    }

    tr td,
    tr th {
        padding: rem-calc(10);
    }

    tbody {
        tr {
            border-bottom: 1px solid color-get(gray, light);

            &:hover {
                background-color: color-get(gray, light);
            }
        }
    }

    a {
        font-weight: bold;
    }

    span.sub-column {
        display: block;
    }
}