.title {

    border-bottom: 1px solid color-get(gray, medium);

    /**
     * Navigation
     */
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    h1 {
        font-size: rem-calc(26);
        font-weight: normal;
    }

}