$form-errors-primary-color: #ea4235;
$form-errors-input-background-color: lighten($form-errors-primary-color, 40%);

@mixin form-errors() {
    .form-error {
        display: none;
    }

    .error {
        > div {
            input,
            select {
                background-color: $form-errors-input-background-color;
                border: 1px solid $form-errors-primary-color;

                outline-color: $form-errors-input-background-color;
            }
        }

        .form-error {
            margin-top: -$global-margin;
            margin-bottom: $global-margin;

            display: block;
            text-align: right;
            font-weight: bold;
            color: $form-errors-primary-color;
        }
    }
}